@model IEnumerable<editeca.Models.Mides>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rutas.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Itinerario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desplazamiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esfuerzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rutas.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Itinerario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desplazamiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Esfuerzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
