@model editeca.Models.Tracks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tracks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreFichero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreFichero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTrack }) |
    @Html.ActionLink("Back to List", "Index")
</p>
